<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Harvest Life an Agriculture Category Bootstrap Responsive Website Template | About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Harvest Life Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- bootstrap-css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Playball&amp;subset=latin-ext' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <style>
        /* Add your custom CSS styles here */
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        .buttons {
            margin: 20px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 5px;
        }

        #content {
            margin-top: 20px;
        }

        /* Add more CSS styles as needed */
    </style>
</head>

<body>
    <!-- banner -->
    <div class="banner about-banner">
        <div class="header">
            <div class="container">
                <div class="header-left">
                    <div class="w3layouts-logo">
                        <h1>
                            <a href="/index">Signodes <span><sup>Ezebudies</sup></span></a>
                        </h1>
                    </div>
                </div>
                <div class="header-right">
                    <div class="agileinfo-social-grids">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="top-nav">
                        <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a class="list-border" href="/index">Home</a></li>
                                    <li><a class="active" href="/about">About</a></li>
                                    <li class=""><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Codes<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="hvr-bounce-to-bottom" href="/icons">Icons</a></li>
                                            <li><a class="hvr-bounce-to-bottom" href="/typography">DATA</a></li>          
                                        </ul>
                                    </li>                                
                                    <li><a href="/gallery">Gallery</a></li>
                                    <li><a href="/blog">SCHEME</a></li>
                                    <li><a class="list-border1" href="/contact">Contact</a></li>
                                </ul>    
                                <div class="clearfix"> </div>
                            </div>  
                        </nav>        
                </div>
            </div>
        </div>
    </div>
    
<style>
        body {
          font-family: Arial, sans-serif;
          text-align: center;
          margin: 20px;
        }
  
        h1 {
          color: #333;
        }
  
        .buttons {
          margin: 20px;
      }
      
      button {
          padding: 10px 20px;
          font-size: 16px;
          margin: 5px;
        }
  
        #content {
          margin-top: 20px;
      }
      </style>

<div id="google_translate_element"></div>
<h1>Best Crops and Soil by State/UT</h1>
<div class="buttons">
  <button id="andhra_pradesh">Andhra Pradesh</button>
  <button id="arunachal_pradesh">Arunachal Pradesh</button>
  <button id="assam">Assam</button>
  <button id="bihar">Bihar</button>
  <button id="chhattisgarh">Chhattisgarh</button>
  <button id="goa">Goa</button>
  <button id="gujarat">Gujarat</button>
  <button id="haryana">Haryana</button>
  <button id="himachal_pradesh">Himachal Pradesh</button>
  <button id="jharkhand">Jharkhand</button>
  <button id="karnataka">Karnataka</button>
  <button id="kerala">Kerala</button>
  <button id="madhya_pradesh">Madhya Pradesh</button>
  <button id="maharashtra">Maharashtra</button>
  <button id="manipur">Manipur</button>
  <button id="meghalaya">Meghalaya</button>
  <button id="mizoram">Mizoram</button>
  <button id="nagaland">Nagaland</button>
  <button id="odisha">Odisha</button>
  <button id="punjab">Punjab</button>
  <button id="rajasthan">Rajasthan</button>
  <button id="sikkim">Sikkim</button>
  <button id="tamil_nadu">Tamil Nadu</button>
  <button id="telangana">Telangana</button>
  <button id="tripura">Tripura</button>
  <button id="uttar_pradesh">Uttar Pradesh</button>
  <button id="uttarakhand">Uttarakhand</button>
  <button id="west_bengal">West Bengal</button>
</div>
<div id="content">
  <p>Select a state/UT to see the best crops to grow and the soil found.</p>
</div>


<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      { pageLanguage: "en" },
      "google_translate_element"
    );
  }
</script>

<script
  type="text/javascript"
  src="https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit"
></script>
<script>
const cropAndSoilInfo = {
	    andhra_pradesh: {
	      crops: "Rice, Pulses, Sugarcane",
	      soil: "Red soil, Laterite soil",
	    },
	    arunachal_pradesh: {
	      crops: "Rice, Maize, Millet",
	      soil: "Mountain soil, Forest soil",
	    },
	    assam: {
	      crops: "Pulses, jute, tea, sugarcane, potato, cotton, oil seeds, fruits crops, coconut, arecanut",
	      soil: "Alluvial Soil, Piedmont Soil, Hill Soil, Laterite soils",
	    },
	    bihar: {
	      crops: "Rice, wheat, maize, potato, onion, eggplant, cauliflower",
	      soil: "Alluvium, Piedmont Swamp soil, Terai soil, clay soil, sand soil, loamy soil",
	    },
	    chhattisgarh: {
	      crops: "Paddy, maize, kodo-kutki, tur, kulthi, Groundnut, Soybean, Niger, Sunflower",
	      soil: "Black soil, clayey soils, red-to-yellow soils, Entisols, Inceptisols, Alfisols, Mollisols, Vertisols",
	    },
	    goa: {
	      crops: "Rice, Coconut, Salt, Cashew, Banana, Okra",
	      soil: "Coastal Alluvial soil, mixed red and black soil, laterite soil, red sandy soil",
	    },
	    gujarat: {
	      crops: "Cotton, groundnut, sesamum, castor, paddy, bajra, maize, tur, green gram, sugarcane, wheat, rice, mustard, gram, groundnut, bajra",
	      soil: "Black soil, mixed red and black soils, residual sandy soils, alluvial soils, saline/alkali soils, lateritic soils, hilly soils, desert soils, forest soils",
	    },
	    haryana: {
	      crops: "Wheat, rice, sugarcane, cotton, oilseeds, pulses, barley, maize, millet",
	      soil: "Alluvial soil, loamy sand, sandy loam, clay loam",
	    },
	    himachal_pradesh: {
	      crops: "Wheat, maize, paddy, gram, sugarcane, mustard, potato, vegetables",
	      soil: "Brown hill soil, sub-mountain soils, mountain meadow soil, red loamy soil",
	    },
	    jharkhand: {
	      crops: "Rice, Wheat, Maize, Arhar, Urad, Moong, Gram, Mustard",
	      soil: "Red Soil, Sandy Soil, Black soil, Laterite soil, Red Micacious soil",
	    },
	    karnataka: {
	      crops: "Rice, maize, pulses, oil seeds, sugarcane, cashews, cardamom, chillies",
	      soil: "Red soils, Black soil, Lateritic soils",
	    },
	    kerala: {
	      crops: "Rubber, Coconut, Arecanut, Tapioca, Coffee, Cardamom, Tea, Cashew, Ginger, Turmeric",
	      soil: "Coastal alluvium, mixed alluvium, acid saline, kari, laterite, red, hill, black cotton, forest soils",
	    },
	    madhya_pradesh: {
	      crops: "Soybean, Gram, Urad, Tur, Masoor, Linseed, Maize, Sesame, Ramtil, Moong, Wheat, Sorghum, Barley",
	      soil: "Black soil, red and yellow soil, alluvial soil",
	    },
	    maharashtra: {
	      crops: "Mangoes, grapes, bananas, oranges, wheat, rice, jawar, bajra, pulses, Groundnut, Cotton, sugarcane, turmeric, tobacco",
	      soil: "Residual, derived from the igneous basalts, fertile black basalt soil",
	    },
	    meghalaya: {
	      crops: "Orange, Pineapple, Lemon, Guava, Litchi, Jackfruit, Bananas, Plum, Pear, Peach",
	      soil: "Rich in organic carbon, deficient in available phosphorous, medium to low in available potassium, acidic pH",
	    },
	    mizoram: {
	      crops: "Maize, rice, sugarcane, tapioca, ginger, cotton",
	      soil: "Sand loamy, clay loamy, high rainfall, acidic pH",
	    },
	    nagaland: {
	      crops: "Rice, millet, maize, pulses, sugarcane, potato, coffee, cardamom, tea",
	      soil: "Acidic, rich in organic carbon, poor in available phosphate and potash content",
	    },
	    odisha: {
	      crops: "Rice, jute, oil seeds, pulses, coconut, mesta, sugarcane, tea, rubber, cotton, gram, mustard, maize, sesame, ragi, potato, soybean",
	      soil: "Fertile alluvial deltaic soils, mixed red and black soils, red and yellow soils",
	    },
	    punjab: {
	      crops: "Wheat, rice, cotton, sugarcane, pearl millet, maize, barley, fruits, bajra, jowar",
	      soil: "Clay, clay loam, sandy clay, silt clay, sandy clay loam, silty clay loam, sandy loam, silt loam, sand, loamy sand, silt",
	    },
	    sikkim: {
	      crops: "Black cardamom, Paddy, Buck Wheat, Maize, Barley, potato, Temi Tea",
	      soil: "Coarse loamy, fragmental soils, brown to dark brown, developed from sandstone parent rock",
	    },
	    tamil_nadu: {
	      crops: "Rice, jowar, ragi, bajra, maize, pulses, cotton, sugarcane, tea, coffee, coconut",
	      soil: "Red soils, Black soils, Laterite soils, Coastal soils",
	    },
	    telangana: {
	      crops: "Rice, Maize, Red Gram, Green Gram, Jowar, Sesame, Castor, Cotton, Groundnut, Soybean, Black Gram",
	      soil: "Red sandy loams, Red loamy sands, lateritic soils, salt-affected soils, alluvial soils, black cotton soils",
	    },
	    tripura: {
	      crops: "Rice, jackfruit, pineapple, potato, sugarcane, chilli, natural rubber",
	      soil: "Red laterite soil, alluvial soil",
	    },
	    uttar_pradesh: {
	      crops: "Rice, maize, gram, lentils, wheat, millet, peas, sugarcane, lentils, wheat, barley, potatoes",
	      soil: "Alluvium, mixed red and black soils, red-to-yellow soils",
	    },
	    uttarakhand: {
	      crops: "Rice, wheat, sugarcane, maize, soybean, pulses, oilseeds, fruits, vegetables",
	      soil: "Quartzite soil, Volcanic soil, Brown soil, Alluvial soil, Tertiary soil",
	    },
	    west_bengal: {
	      crops: "Rice, maize, pulses, oil seeds, wheat, barley, potatoes, jute, tea",
	      soil: "Mountain soils, Alluvial soils, Red soils, Saline soils",
	    },
	    manipur: {
	      crops: "Rice, cotton, kabrangchak, oilseeds, sugarcane",
	      soil: "Inceptisols, Ultisols, Entisols, Alfisols, Lake and marshy land",
	    },
	    rajasthan: {
	      crops: "Cotton, sugarcane",
	      soil: "Desert soil, lava soils",
	    },
	};

	// Add information for other states and union territories as needed


  document.addEventListener("DOMContentLoaded", () => {
    const contentDiv = document.getElementById("content");

    function displayCropAndSoilInfo(state) {
      const info = cropAndSoilInfo[state];
      contentDiv.innerHTML = `<p>Best crops to grow in ${state.innerHTML}: ${info.crops}</p><p>Soil found in ${state}: ${info.soil}</p>`;
    }

    const buttons = document.querySelectorAll("button");
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const state = button.id;
        displayCropAndSoilInfo(state);
      });
    });
  });
</script>

       <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="agile-footer-grids">
                <div class="col-md-3 w3-agile-footer-grid">
                    <h3>About</h3>
                    <p>Aenean cursus dignissim porta. Quisque mattis dolor sem, nec ultrices arcu consequat vel. Phasellus sollicitudin dui diam, et scelerisque nunc venenatis non. Cras dapibus, urna et pellentesque egestas</p>
                </div>
                <div class="col-md-3 w3-agile-footer-grid">
                    <h3>Navigation</h3>
                    <ul>
                        <li class="text"><a href="/about">About</a></li>
                        <li class="text"><a href="/typography">DATA</a></li>
                        <li class="text"><a href="/icons">Icons</a></li>
                        <li class="text"><a href="/gallery">Gallery</a></li>
                        <li class="text"><a href="/blog">SCHEME</a></li>
                        <li class="text"><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 w3-agile-footer-grid">
                    <h3>Newsletter</h3>
                    <form action="#" method="post">
                        <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //Footer -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a> </p>
        </div>
    </div>
    <!-- //Copyright -->
    <script src="js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <!-- here starts scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */
                                
            $().UItoTop({ easingType: 'easeOutQuart' });
                                
            });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>
