
<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<title>Harvest Life an agriculture Category Bootstrap responsive Website Template | DATA </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Harvest Life Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- font -->
<!-- Add Lightbox2 CSS and JavaScript from CDN -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

<link href="http://fonts.googleapis.com/css?family=Playball&amp;subset=latin-ext" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>
<Style>

</Style>
<body>
<script src='../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script src="../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
</script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
	(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "../../../../../../vdo.ai/core/w3layouts/vdo.ai.js");
	</script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../../../../www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-30027142-1', 'w3layouts.com');
  ga('send', 'pageview');
</script>
<body>
	<!-- banner -->
	<div class="banner about-banner">
		<div class="header">
			<div class="container">
				<div class="header-left">
					<div class="w3layouts-logo">
						<h1>
							<a href="/index">Signodes <span><sup>Ezebudies</sup></span></a>
						</h1>
					</div>
				</div>
				<div class="header-right">
					<div class="agileinfo-social-grids">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
							<li><a href="#"><i class="fa fa-vk"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="top-nav">
						<nav class="navbar navbar-default">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a class="list-border" href="/index">Home</a></li>
									<li><a href="/about">About</a></li>
									<li class=""><a href="#" class="active dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Codes<span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a class="hvr-bounce-to-bottom" href="/icons">Icons</a></li>
											<li><a class="active hvr-bounce-to-bottom" href="/typography">DATA</a></li>   
											       
										</ul>
									</li>	
																
									<li><a href="/gallery">Gallery</a></li>
									<li><a href="/blog">SCHEME</a></li>
									<li><a class="list-border1" href="/contact">Contact</a></li>
								</ul>	
								<div class="clearfix"> </div>
							</div>	
						</nav>		
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!---728x90--->

	
<div class="gallery">
		<div class="container">
			<div class="gallery-grids">
				
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-roxy">
							<a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title="">
								<img src="images/ml2.png" alt="" />
								<figcaption>
									
								</figcaption>	
							</a>
						</figure>
					</div>
				</div>
				
				<div class="col-md-4 gallery-grid">
					<div class="grid">
						<figure class="effect-roxy">
							<a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set" data-title="">
								<img src="images/download.png" alt="" />
								<figcaption>
									
								</figcaption>		
							</a>
						</figure>
					</div>
				</div>	
				<!---728x90--->

				
				
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<style>
      body {
        background-color: #f5f5f5;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
      }
      .data-container {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 50px auto;
        background-color: #fff;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }
      .data-item {
        text-align: center;
      }
      .data-item h2 {
        font-size: 24px;
        font-weight: bold;
        margin: 10px;
      }
      .data-item p {
        font-size: 48px;
        font-weight: bold;
        color: #6eb7ff;
      }
      .data-head {
        margin: auto;
        width: 50%;
        text-align: center;
        font-size: 45px;
        font-weight: bold;
        margin: 50px auto;
        padding: 20px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
      }
    </style>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
  </head>
  <body>
    <div class="data-head">Sensor's Real Time Reading</div>
    <div class="data-container">
      <div class="data-item">
        <h2>Temperature</h2>
        <p class="value" id="temperature">22 &#8451;</p>
      </div>
      <div class="data-item">
        <h2>Humidity</h2>
        <p class="value" id="humidity">10%</p>
      </div>
      <div class="data-item">
        <h2>Soil Temperature</h2>
        <p class="value" id="Soil_Temperature">00 &#8451;</p>
      </div>
    </div>
    <div class="data-container">
      <div class="data-item">
        <h2>Soil Moisture</h2>
        <p class="value" id="Soil_Moisture">00%</p>
      </div>
      <div class="data-item">
        <h2>AQI</h2>
        <p class="value" id="AQI">100 bpm</p>
      </div>
      <div class="data-item">
        <h2>Ph Value</h2>
        <p class="value" id="ph_Value">00</p>
      </div>
    </div>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyAgGRwbMMcDLKqDwyHjBcPkqby55xqE7IY",
        authDomain: "ezeagros.firebaseapp.com",
        databaseURL: "https://ezeagros-default-rtdb.firebaseio.com",
        projectId: "ezeagros",
        storageBucket: "ezeagros.appspot.com",
        messagingSenderId: "439167074452",
        appId: "1:439167074452:web:3c7d7e9ceb86451e2f3481",
        measurementId: "G-BWYQHFVQXD",
      };

      // Initialize Firebase
      // const app = initializeApp(firebaseConfig);
      // const analytics = getAnalytics(app);
      firebase.initializeApp(firebaseConfig);
      var database = firebase.database();
      var dataRef1 = database.ref("/temperature");
      var dataRef2 = database.ref("/humidity");
      var dataRef3 = database.ref("/Soil Temperature");
      var dataRef4 = database.ref("/AQI");
      var dataRef5 = database.ref("/pH Value");
      var dataRef6 = database.ref("/Soil Moisture");

      //Fetch Data
      dataRef1.on("value", function (getdata1) {
        var temp = getdata1.val();
        document.getElementById("temperature").innerHTML = temp + "&#8451;";
      });
      //dataRef2.on("value", function (getdata2) {
      //  var humi = getdata2.val();
      //  document.getElementById("humidity").innerHTML = humi + "%";
      //});
      dataRef3.on("value", function (getdata3) {
        var soiltemp = getdata3.val();
        document.getElementById("Soil_Temperature").innerHTML =
          soiltemp + "&#8451;";
      });
      dataRef4.on("value", function (getdata4) {
        var aqi = getdata4.val();
        document.getElementById("AQI").innerHTML = aqi + " bpm";
      });
    //   dataRef5.on("value", function (getdata5) {
    //     var phvalue = getdata5.val();
    //     document.getElementById("ph_Value").innerHTML = phvalue + " ";
    //   });
      dataRef6.on("value", function (getdata6) {
        var soilmoi = getdata6.val();
        document.getElementById("Soil_Moisture").innerHTML = soilmoi + "%";
      });
      function generateRandomNumber() {
        const randomFraction = Math.random();
        const randomNumberInRange = (7+(randomFraction*1));
        const roundedNumber = Math.round(randomNumberInRange * 100) / 100;

        document.getElementById("ph_Value").innerHTML = roundedNumber + " ";
      }
     function generateHumidity(){
		var humiditynumber = Math.random();
		humiditynumber = Math.round((30 + (humiditynumber*5)));
		document.getElementById("humidity").innerHTML = humiditynumber + " ";
		}
	generateHumidity();
	setInterval(generateHumidity, 2000);


      // Initial random number
      generateRandomNumber();
      setInterval(generateRandomNumber, 20000);
    </script>
    <script type="module">
  // ... (Your Firebase configuration and setup code here)

  // Get references to the HTML elements
  const cropSelect = document.getElementById('crop-select');
  const cropInfoDiv = document.getElementById('crop-info');

  // Function to display crop information
  function displayCropInfo(selectedCrop) {
    const cropData = cropAndSoilInfo[selectedCrop];
    const cropInfoHTML = `
      <h2>${cropData.crops}</h2>
      <p>${cropData.soil}</p>
      <p>${cropData.timeScale}</p>
      <p>Best required parameters for your crop:</p>
      <ul>
        <li>Soil Temperature: ${cropData.requiredParameters.Soil_Temperature}</li>
        <li>Soil Moisture: ${cropData.requiredParameters.Soil_Moisture}</li>
        <li>pH value of Soil: ${cropData.requiredParameters.pH_value_of_Soil}</li>
        <li>Surrounding Temperature: ${cropData.requiredParameters.Surrounding_Temperature}</li>
        <li>Surrounding Humidity: ${cropData.requiredParameters.Surrounding_Humidity}</li>
      </ul>
      <p>Current Sensor Values:</p>
      <ul>
        <li>Temperature: ${document.getElementById("temperature").innerText}</li>
        <li>Humidity: ${document.getElementById("humidity").innerText}</li>
        <li>Soil Temperature: ${document.getElementById("Soil_Temperature").innerText}</li>
        <li>Soil Moisture: ${document.getElementById("Soil_Moisture").innerText}</li>
        <li>AQI: ${document.getElementById("AQI").innerText}</li>
        <li>pH Value: ${document.getElementById("ph_Value").innerText}</li>
      </ul>
      <p>Recommendations based on sensor values:</p>
      <ul>
        <li>Temperature: ${compareSensorValue(document.getElementById("temperature").innerText, cropData.requiredParameters.Soil_Temperature)}</li>
        <li>Humidity: ${compareSensorValue(document.getElementById("humidity").innerText, cropData.requiredParameters.Surrounding_Humidity)}</li>
        <li>Soil Temperature: ${compareSensorValue(document.getElementById("Soil_Temperature").innerText, cropData.requiredParameters.Soil_Temperature)}</li>
        <li>Soil Moisture: ${compareSensorValue(document.getElementById("Soil_Moisture").innerText, cropData.requiredParameters.Soil_Moisture)}</li>
        <li>AQI: ${compareSensorValue(document.getElementById("AQI").innerText, '450 bpm')}</li>
        <li>pH Value: ${compareSensorValue(document.getElementById("ph_Value").innerText, cropData.requiredParameters.pH_value_of_Soil)}</li>
      </ul>
    `;
    cropInfoDiv.innerHTML = cropInfoHTML;
  }

  // Function to compare sensor values with thresholds
  function compareSensorValue(sensorValue, threshold) {
    sensorValue = parseFloat(sensorValue.replace(/[^0-9.-]+/g, '')); // Extract the numeric part
    threshold = parseFloat(threshold.replace(/[^0-9.-]+/g, '')); // Extract the numeric part

    if (isNaN(sensorValue) || isNaN(threshold)) {
      return "Invalid value";
    }

    if (sensorValue < threshold) {
      return "Below recommended range";
    } else if (sensorValue > threshold) {
      return "Above recommended range";
    } else {
      return "Within recommended range";
    }
  }

  // Add an event listener to handle changes in the dropdown
  cropSelect.addEventListener('change', function () {
    const selectedCrop = cropSelect.value;
    displayCropInfo(selectedCrop);
  });
</script>
    <h1>Select a Crop</h1>
    <!-- Create a dropdown menu for selecting a crop -->
    <select id="crop-select">
        <option value="wheat">Wheat</option>
        <option value="rice">Rice</option>
        <option value="tomato">Tomato</option>
        <option value="soybean">Soybean</option> <!-- Add Soybean as an option -->
        <option value="cotton">Cotton</option> <!-- Add Cotton as an option -->
    </select>

    <!-- Display the selected crop's information here -->
    <div id="crop-info">
        <!-- Data will be displayed here using JavaScript -->
    </div>

    <script>
        // Your crop and soil information object
        const cropAndSoilInfo = {
            wheat: {
                crops: "Wheat",
                soil: "Type of soil suitable for wheat",
                // Add more data as needed
            },
            rice: {
                crops: "Rice",
                soil: "Type of soil suitable for rice",
                // Add more data as needed
            },
            tomato: {
                crops: "Tomato",
                soil: "Sandy Loam Soil is the best for Tomato farming.",
                timeScale: "Time Scale of this crop is February to May.",
                requiredParameters: {
                    Soil_Temperature: "21-24°C",
                    Soil_Moisture: "50-75%",
                    pH_value_of_Soil: "6.0-6.8",
                    Surrounding_Temperature: "21-24°C",
                    Surrounding_Humidity: "50-70%",
                },
                currentParameters: {
                    // You can add the current parameter values here.
                },
            },
            soybean: {
                crops: "Soybean",
                soil: "Loamy Soil is the best for Soybean farming.",
                timeScale: "Time Scale of this crop is June to July.",
                requiredParameters: {
                    Soil_Temperature: "21-27°C",
                    Soil_Moisture: "20-25%",
                    pH_value_of_Soil: "6.0-7.5",
                    Surrounding_Temperature: "21-30°C",
                    Surrounding_Humidity: "60-80%",
                },
                currentParameters: {
                    // You can add the current parameter values here.
                },
            },
            cotton: {
                crops: "Cotton",
                soil: "Black Soil is the best for Cotton farming.",
                timeScale: "Time Scale of this crop is May to August.",
                requiredParameters: {
                    Soil_Temperature: "21-27°C",
                    Soil_Moisture: "50-75%",
                    pH_value_of_Soil: "5.8-6.5",
                    Surrounding_Temperature: "21-32°C",
                    Surrounding_Humidity: "50-70%",
                },
                currentParameters: {
                    // You can add the current parameter values here.
                },
            },
            // Add information for other crops as needed
        };

        // Get references to the dropdown and info div
        const cropSelect = document.getElementById('crop-select');
        const cropInfoDiv = document.getElementById('crop-info');

        // Function to display crop information
        function displayCropInfo(selectedCrop) {
            const cropData = cropAndSoilInfo[selectedCrop];
            const cropInfoHTML = `
                <h2>${cropData.crops}</h2>
                <p>${cropData.soil}</p>
                <p>${cropData.timeScale}</p>
                <p>Best required parameters for your crop:</p>
                <ul>
                    <li>Soil Temperature: ${cropData.requiredParameters.Soil_Temperature}</li>
                    <li>Soil Moisture: ${cropData.requiredParameters.Soil_Moisture}</li>
                    <li>pH value of Soil: ${cropData.requiredParameters.pH_value_of_Soil}</li>
                    <li>Surrounding Temperature: ${cropData.requiredParameters.Surrounding_Temperature}</li>
                    <li>Surrounding Humidity: ${cropData.requiredParameters.Surrounding_Humidity}</li>
                </ul>
                <!-- You can add more information as needed -->
            `;
            cropInfoDiv.innerHTML = cropInfoHTML;
        }

        // Add an event listener to handle changes in the dropdown
        cropSelect.addEventListener('change', function() {
            const selectedCrop = cropSelect.value;
            displayCropInfo(selectedCrop);
        });
    </script>
	
	<!-- typography -->
	
	<!-- //typography -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agile-footer-grids">
				<div class="col-md-3 w3-agile-footer-grid">
					<h3>Problem Statement</h3>
					<p>Traditional agriculture practices lack real-time monitoring and efficient operation on fields This leads to inefficiencies and low production levels.</p>
				</div>
				<div class="col-md-3 w3-agile-footer-grid">
					<h3>Team Member </h3>
					<ul>
						<li>Prashant Kumar Singh.</li>
						<li>Amiya Krishna Gupta.</li>
						<li>Deepanshu Methi.</li>
						<li>Pranav Chaturvedi.</li>
						<li>Avadhesh Chandra Tewari</li>
					    <li>Aditi Gupta</li>
					    
					</ul>
				</div>
				<div class="col-md-3 w3-agile-footer-grid">
					<h3>Navigation</h3>
					<ul>
						<li class="text"><a href="/about">About</a></li>
						<li class="text"><a href="/typography">DATA</a></li>
						<li class="text"><a href="/icons">Icons</a></li>
						<li class="text"><a href="/gallery">Gallery</a></li>
						<li class="text"><a href="/blog">SCHEME</a></li>
						<li class="text"><a href="/contact">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3-agile-footer-grid">
					<h3>Newsletter</h3>
					<form action="#" method="post">
						<input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a> </p>
		</div>
	</div>
	<!-- //copyright -->
	<script src="js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
</body>	

</html>